<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div>
        <div class="form-box">
            <div class="form-value">
                <form action="{{ url_for('login') }}" method="post">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="forgot">
                        <label for="remember-me">
                            <input type="checkbox" id="remember-me" name="remember-me"> Remember Me
                            <a href="#"><span id="fspace">Forgot Password</span></a>
                        </label>
                    </div>
                    <button type="submit">Log In</button>
                    <div class="register">
                        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
